<!-- File: /alerts/templates/alerts/alert_detail.html -->
{% extends "alerts/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'alerts/css/alert_detail.css' %}">
<link rel="stylesheet" href="{% static 'alerts/css/comments.css' %}">
{% endblock %}

{% block title %}{{ alert.name }} - SentryHub{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <!-- Alert Header -->
    {% include 'alerts/partials/alert_header.html' %}
    
    <!-- Alert Tabs -->
    {% include 'alerts/partials/alert_tabs.html' %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'alerts/js/alert_detail.js' %}"></script>
<script src="{% static 'alerts/js/comments.js' %}"></script>
{% endblock %}