[Unit]
Description=Celery Worker Service for sentryHub
After=network.target redis-server.service
PartOf=sentryhub.service

[Service]
Type=simple
WorkingDirectory=/opt/sentryhub/sentryHub
Environment="PYTHONPATH=/etc/sentryhub"
Environment="DJANGO_SETTINGS_MODULE=settings"
ExecStart=/opt/sentryhub/venvn/bin/celery -A sentryHub worker -Q alerts,integrations -c 4 --loglevel=INFO


Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target